.images {
  margin: 25px 0 0 30px;
}

.button {
  border: none;
  width: 60px;
  height: 30px;
  margin: 5px 5px 0 7px;
  background-color: lightcoral;
  color: white;
}

.inputBox {
  border-radius: 1rem;
  width: 200px;
  height: 30px;
}
